div.post-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

div.post-wrapper.wrapper-height {
    min-height: 74vh;
}

div.post-thumbnail {
    margin-bottom: 0;
    padding: 0;
    border: 4px solid #fff;
}

.not-published {
    border-color: red !important;
}

div.post-thumbnail h3 {
    margin-top: 5px;
    font-size: 140%;
}

div.img-post {
    display: block;
    width: 100%;
    height: 180px;
    background: no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}

p.btn-thumbnail {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 235px;
}

p.btn-thumbnail a {
    width: 75px;
    padding: 6px 0;
}

p.btn-thumbnail a.btn-edit, p.btn-thumbnail a.btn-unpublish, p.btn-thumbnail a.btn-publish {
    margin-right: 5px;
    float: left;
}

span.search-wrappr {
    padding: 3px 12px;
    position: fixed;
    top: 75px;
    right: 10px;
    font-size: 210%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: white;
    background: rgba(43, 50, 58, 0.7);
}

div.search-input-wrapper {
    top: -35px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: calc(100vh + 35px);
    display: none;
    background: rgba(255, 255, 255, 0.98);
    position: fixed;
    z-index: 2000;
}

div.search-input-wrapper input {
    width: 60%;
    position: absolute;
    outline: none;
    border: 0;
    border-bottom: 2px solid rgba(0,0,0,0.4);
    box-shadow: none;
    top: calc(50% - 25px);
    left: 20%;
    background: transparent;
    height: 50px;
    font-size: 200%;
}

span.search-close {
    font-size: 250%;
    position: absolute;
    padding: 3px 14px;
    top: 50px;
    right: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: black;
    background: #eee;
}

span.search-close:hover {
    background: #ccc;
}

span.upload-wrapper {
    padding: 3px 14px;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 210%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: white;
    background: rgba(43, 50, 58, 0.7);
}

nav.pagination-wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px){
    span.search-wrappr {
        background: transparent;
        font-size: 210%;
        right: 100px;
        top: 2px;
        position: absolute;
        z-index: 3;
    }

    span.upload-wrapper {
        background: transparent;
        font-size: 230%;
        right: 55px;
        top: 2px;
        position: absolute;
        z-index: 3;
    }
}

@media screen and (max-width: 530px) {
    p.thumbnail-desc {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 341px) {
    p.btn-thumbnail {
        width: 205px !important;
    }
    p.btn-thumbnail a.btn-edit, p.btn-thumbnail a.btn-delete {
        width: 60px !important;
    }
}