extends layout

block append script
  link(rel='stylesheet', href='/stylesheets/admin/gallery_v.css')
  script(src="/javascripts/admin/gallery_v.js")
block content
  block menuVariables
    - var menuActive = 'thumbnail';
  include sidebar
  div.admin-content-wrapper
    div.admin-content
      div.container-fluid
        div.row.gallery-wrapper.wrapper-height
          - var length = thumbnails.length;
          - if (length !== 0) {
            - for (var i = 0; i < length; i++) {
              div.img-gallery
                div.gallery-layer
                  h3.text-center.gallery-title #{thumbnails[i].title}
                  div.gallery-button-wrapper
                    button(data-toggle="modal", data-target="#view-modal").gallery-view View
                  div.gallery-button-wrapper.button-wrapper-remove
                    button(data-toggle="modal", data-target="#delete-modal").gallery-remove Remove
                input(type="hidden", value="#{thumbnails[i].id}").gallery-id
                img(src="#{'/assets/uploads/' + thumbnails[i].image_path}")
            - }
          - } else {
            // TODO: Implement Not fount
          - }
        include ../include/footer

  div(tabindex="-1", role="dialog", aria-labelledby="AddModalLabel", aria-hidden="true", style="display:none; top:30px;")#add-modal.modal.fade
    div.modal-dialog.modal-md
      div.modal-content
        div.modal-header
          button(type="button", data-dismiss="modal", aria-hidden="true").close x
          h3#AddModalLabel.text-center Upload Image
        div.modal-body
          div.row
            div.col-md-12
              form(role="form")#modal-form.form-horizontal
                div.col-md-10.col-md-offset-1
                  span.error-text
                div.form-group
                  div.col-md-10.col-md-offset-1
                    input(type="text", name="title" maxlength="255", placeholder="Title")#modal-input-title.form-control
                div.form-group
                  div.col-md-10.col-md-offset-1
                    label.upload-input-wrapper
                      div.upload-preview
                        div.upload-layer
                        img(src="")
                      div.upload-input-content
                        div.upload-texts
                          span.text Click here to upload
                          span
                            i.fa.fa-upload
                        input(type="file", name="post_image" style="display:none;", accept="image/*")#modal-input-image.form-control
        div.modal-footer
          button(type="submit", form="modal-form").btn.btn-primary Send
          button(type="button", data-dismiss="modal").btn.btn-default Cancel

  div(tabindex="-1", role="dialog", aria-labelledby="DeleteModalLabel", aria-hidden="true", style="display:none;")#delete-modal.modal.fade
    div.modal-dialog.modal-sm
      div.modal-content
        div.modal-header
          button(type="button", data-dismiss="modal", aria-hidden="true").close x
          h4#DeleteModalLabel.modal-title Thumbnail Delete Confirm
        div.modal-body
        div.modal-footer
          button(type="button", data-dismiss="modal").btn.btn-default Cancel
          button(type="button", data-dismiss="modal").btn.btn-danger Delete

  div(tabindex="-1", role="dialog", aria-labelledby="ViewModalLabel", aria-hidden="true", style="display:none;")#view-modal.modal.fade
    div.modal-dialog.modal-md
      div.modal-content
        div.modal-header
          button(type="button", data-dismiss="modal", aria-hidden="true").close x
          h3#ViewModalLabel.modal-title.text-center
        div.modal-body
          img(src="")

  div
    a(data-toggle="modal", data-target="#add-modal")#image-wrapper
      span.upload-wrapper
        i.fa.fa-cloud-upload
  div
    a(href="")#search-icon-wrapper
      span.search-wrappr
        i.fa.fa-search
  div.search-input-wrapper
    span.search-close
      i.fa.fa-times
    input(type="text").search-input