extends layout

block append script
  link(rel='stylesheet', href='/stylesheets/gallery_v.css')
  script(src="/javascripts/gallery_v.js")
block content
  include sidebar
  div.admin-content-wrapper
    div.admin-content
      div.container-fluid
        div.row.gallery-wrapper
          div.img-gallery
            img(src='/assets/samples/building.jpg')
          div.img-gallery
            img(src='/assets/samples/cafe.jpg')
          div.img-gallery
            img(src='/assets/samples/cat.jpg')
          div.img-gallery
            img(src='/assets/samples/camera.jpg')
          div.img-gallery
            img(src='/assets/samples/camping.jpg')
          div.img-gallery
            img(src='/assets/samples/cat2.jpg')
          div.img-gallery
            img(src='/assets/samples/cat3.jpg')
          div.img-gallery
            img(src='/assets/samples/cat4.jpg')
          div.img-gallery
            img(src='/assets/samples/cat-sleeping.jpg')
          div.img-gallery
            img(src='/assets/samples/cat-sleeping2.jpg')
          div.img-gallery
            img(src='/assets/samples/mountain.jpg')
          div.img-gallery
            img(src='/assets/samples/trail.jpg')
          div.img-gallery
            img(src='/assets/samples/view.jpg')
          div.img-gallery
            img(src='/assets/samples/view2.jpg')
          div.img-gallery
            img(src='/assets/samples/view3.jpg')
          div.img-gallery
            img(src='/assets/samples/view4.jpg')
          div.img-gallery
            img(src='/assets/samples/view5.jpg')
        include ../include/footer

  div(tabindex="-1", role="dialog", aria-labelledby="EditModalLabel", aria-hidden="true", style="display:none; top:30px;")#edit-modal.modal.fade
    div.modal-dialog.modal-md
      div.modal-content
        div.modal-header
          button(type="button", data-dismiss="modal", aria-hidden="true").close x
          h3#EditModalLabel.text-center Upload Image
        div.modal-body
          div.row
            div.col-md-12
              form(role="form")#modal-form.form-horizontal
                input(type="hidden", name="post_id")#modal-input-id
                div.form-group
                  div.col-md-10.col-md-offset-1
                    input(type="text", name="title" maxlength="255", placeholder="Title", parsley-trigger="change", required)#modal-input-title.form-control
                div.form-group
                  div.col-md-10.col-md-offset-1
                    label.upload-input-wrapper
                      div.upload-input-content
                        span.text Click here to upload
                        span
                          i.fa.fa-upload
                        input(type="file", name="post_image" style="display:none;", accept="image/*")#modal-input-image.form-control
        div.modal-footer
          button(type="submit", form="modal-form").btn.btn-primary Send
          button(type="button", data-dismiss="modal").btn.btn-default Cancel

  div(style="display:none; width: 300px; position: fixed; top: 15%; left: 50%; margin-left: -175px; text-align: center; z-index: 5;")#success-dialog.alert.alert-success
  div(style="display:none; width: 300px; position: fixed; top: 15%; left: 50%; margin-left: -175px; text-align: center; z-index: 5;")#error-dialog.alert.alert-danger
  div
    a(data-toggle="modal", data-target="#edit-modal")#image-wrapper
      span.upload-wrapper
        i.fa.fa-cloud-upload
  div
    a(href="")#search-icon-wrapper
      span.search-wrappr
        i.fa.fa-search
  div.search-input-wrapper
    span.search-close
      i.fa.fa-times
    input(type="text").search-input