extends layout

block append script
  link(rel='stylesheet', href='/stylesheets/admin/mail_management_v.css')
  script(src="/plugins/moment/js/moment.min.js")
block content
  block menuVariables
    - var menuActive = 'mail';
    include sidebar
    div.admin-content-wrapper
      div.admin-content
        div.container-fluid
          div.row.wrapper-height
            div.col-md-12
              div.mail-sidebar
                div.mail-sidebar-content
                  a.btn-manage.btn.btn-primary#compose Compose
                  div.btn-wrapper
                    a(class=(label===null ? 'btn-active' : '')).btn-manage.btn.btn-list#inbox
                      span.btn-label Inbox
                    a(class=(label==='Important' ? 'btn-active' : '')).btn-manage.btn.btn-list#important
                      span.btn-label Important
                    a(class=(label==='Starred' ? 'btn-active' : '')).btn-manage.btn.btn-list#starred
                      span.btn-label Starred
                    a(class=(label==='Draft' ? 'btn-active' : '')).btn-manage.btn.btn-list#draft
                      span.btn-label Draft
                    a(class=(label==='Sent Mail' ? 'btn-active' : '')).btn-manage.btn.btn-list#sent-mail
                      span.btn-label Sent Mail
                    a(class=(label==='Trash' ? 'btn-active' : '')).btn-manage.btn.btn-list#trash
                      span.btn-label Trash
              div.mail-wrapper
                div.table-wrapper
                  div.loader-bg
                  table.table.table-responsive#mail-table
                    thead
                      tr
                        th
                          a.btn-manage.btn.btn-default.btn-refresh <i class="fa fa-refresh"></i>
                          a.btn-manage.btn.btn-default.btn-remove <i class="fa fa-trash"></i>
                          a.btn-manage.btn.btn-default.btn-move <i class="fa fa-folder"></i>
                          a.btn-manage.btn.btn-default.btn-pagenation.btn-next.sm-btn.disabled <i class="fa fa-chevron-right"></i>
                          a.btn-manage.btn.btn-default.btn-pagenation.btn-prev.sm-btn.disabled <i class="fa fa-chevron-left"></i>
                        th
                        th
                          a.btn-manage.btn.btn-default.btn-pagenation.btn-prev.disabled <i class="fa fa-chevron-left"></i>
                          a.btn-manage.btn.btn-default.btn-pagenation.btn-next.disabled <i class="fa fa-chevron-right"></i>
                    tbody#mail-body

                  div#cssload-loader
                    div.cssload-dot
                    div.cssload-dot
                    div.cssload-dot
                    div.cssload-dot
                    div.cssload-dot
                    div.cssload-dot
                    div.cssload-dot
                    div.cssload-dot

                div.showing-wrapper
                  p(style="display:none;").showing-text Showing <span class="showing-start">1</span> - <span class="showing-end">15</span> of <span class="showing-length">200</span>
          include ../include/footer

  - if (authURL !== null) {
    div#auth-modal
      div.auth-wrapper
        h3.text-center Authorize Gmail Account
        a(href=authURL).btn.btn-danger#btn-auth Authorize
  - } else {
    script.
      var LABEL = !{JSON.stringify(label)};
    script(src="/javascripts/admin/mail_management_v.js")
  - }