extends layout
block append script
  link(rel='stylesheet', href='/stylesheets/admin/password_reset_v.css')
  script(src="/javascripts/admin/password_reset_v.js")
block content
  block menuVariables
    - var menuActive = 'password';
  include sidebar
  div.admin-content-wrapper
    div.admin-content
      div.container-fluid
        div.row.wrapper-height.password-reset-wrapper
          div.col-md-8.col-md-offset-2
            div.password-content
              h2.text-center Password Reset
              span.error-text
              form()#password-form
                div.form-group
                  input(type="password", name="currentPass", placeholder="Current Password")#current-pass.form-control
                div.form-group
                  input(type="password", name="newPass", placeholder="New Password")#new-pass.form-control
                div.form-group
                  input(type="password", name="rePass", placeholder="Retype Password")#re-pass.form-control
                div.form-group.submit-wrapper
                  button#submit.btn.btn-primary Submit

        include ../include/footer