extends layout

block append script
  link(rel='stylesheet', href='/stylesheets/admin/profile_v.css')
  script(src="/javascripts/admin/profile_v.js")
block content
  block menuVariables
    - var menuActive = 'profile';
  include sidebar
  div.admin-content-wrapper
    div.admin-content
      div.container-fluid
        div.row.profile-wrapper.wrapper-height
          div.profile-header
            div.profile-bg
              div.profile-photo-wrapper
                - var photoPath = '/assets/images/default-me.png';
                - if (user.image_path !== undefined && user.image_path !== null && user.image_path !== '') {
                  - photoPath = '/assets/profile/' + user.image_path;
                - }
                img(src=photoPath).img-profile
                div.edit-profile-photo
                  label#image-wrapper
                    span.camera-wrapper
                      i.fa.fa-camera
                        input(type="file", name="photo", style="display: none;", accept="image/*")#profile-photo

          div.profile-content-wrapper
            form()#profile-form
              span.error-text
              div.form-group
                label Username
                input(type="text", placeholder="Username", name="username", value=user.username)#profile-username.form-control
              div.form-group
                label Location
                input(type="text", placeholder="Location", name="location", value=user.location)#profile-location.form-control
              div.form-group
                label Weather API Key
                textarea(placeholder="Weather API key", name="apikey")#profile-api.form-control #{user.weather_api}
              div#profile-submit
                button#submit.btn.btn-primary Save Profile
        include ../include/footer