block menuVariables
div.nav-side-menu
  div.brand
    a(href="/admin")
      img(src="/assets/images/logo.png").img-logo
  div.admin-user
    - var photoPath = "/assets/images/default-me.png";
    - if (user.image_path !== undefined && user.image_path !== null && user.image_path !== "") {
        - photoPath = "/assets/profile/" + user.image_path;
    - }
    img(src=photoPath).img-circle.img-responsive.img-me
    h3.text-center #{user.username}
  i(data-toggle="collapse", data-target="#menu-content").fa.fa-bars.fa-2x.toggle-btn
  div.menu-list
    ul#menu-content.menu-content.collapse.out
      li(class=(menuActive === 'dashboard' ? 'active' : ''))
        a(href="/admin") <i class="fa fa-dashboard fa-lg"></i> Dashboard
      li(class=(menuActive === 'post' ? 'active' : ''))
        a(href="/admin/posts") <i class="fa fa-rocket fa-lg"></i> Posts
      li(class=(menuActive === 'category' ? 'active' : ''))
        a(href="/admin/categories") <i class="fa fa-th-large fa-lg"></i> Categories
      li(class=(menuActive === 'tag' ? 'active' : ''))
        a(href="/admin/tags") <i class="fa fa-tags fa-lg"></i> Tags
      li(class=(menuActive === 'thumbnail' ? 'active' : ''))
        a(href="/admin/thumbnails") <i class="fa fa-picture-o fa-lg"></i> Thumbnails
      li(class=(menuActive === 'profile' ? 'active' : ''))
        a(href="/admin/profile") <i class="fa fa-user fa-lg"></i> Profile
      li(class=(menuActive === 'password' ? 'active' : ''))
        a(href="/admin/passwordReset") <i class="fa fa-key fa-lg"></i> Password Reset
      li
        a(href="/logout") <i class="fa fa-sign-out fa-lg"></i> Logout