extends layout

block append script
  link(rel='stylesheet', href='/stylesheets/about_v.css')
block header
  header(style="background-image: url('/assets/images/aboutCover.jpg');").bg-wrapper
    - var menuActive = 'about';
    - var pageTitle = "About Me";
    - var pageDescription = '<h4 class="text-center">Web developer / Game developer / Anime / Movie</h4>';
    include include/header
block content
  main.page-content-wrapper
    div.page-content
      div.container-fluid
        div.row
          div.col-md-12
            div.about
              img(src="/assets/images/masashi.jpg").img-me-small.img-responsive
              h3.text-center Masashi Morita
              div.media-wrapper
                div.media-content
                  a(href="https://www.facebook.com/m.m.rex", target="_blank").btn-media.btn-facebook <i class="fa fa-facebook"></i> Facebook
                  a(href="https://github.com/MasaCode", target="_blank").btn-media.btn-github <i class="fa fa-github"></i> GitHub
              div.about-description
                p I'm 20 years old web developer living in vancouver. I like to watch movies, animes and play games.
                p I've been programming since I was 15. In Junior hight my friend taught me how to program and I really loved it. For me, programming has been a great tool to express my imagination. Then at high school and college intergrated education instutute back in Japan, I chose programming as my major. As I studied programming deeply, I realized how great it would be to develop something new and turn my imagination into actual thing. I found out Vancouver is not only a beautiful city, but has many great IT companies. That's why I moved to Vancouver and started studying game, web and software development at ITD Canada.
                p When I am not programming, I'm cooking, reading, watching movies, playing games, or working out.

  include include/footer
