extends layout

block append script
  link(rel='stylesheet', href='/stylesheets/about_v.css')
block header
  header(style="background-image: url('/assets/images/homeCover.jpg');").bg-wrapper
    - var pageTitle = "About Me";
    - var pageDescription = '<h4 class="text-center">Web developer / Game developer / Anime / Movie</h4>';
    include include/header
block content
  main.about-wrapper
    div.container-fluid
      div.row
        div.col-md-12
          div.about
            img(src="/assets/images/masashi.jpg").img-me-small.img-responsive
            h3.text-center Masashi Morita
            div.well.about-description
              p Currently I am studying game development at ITD Canada and looking for great Opportunities to work as a game developer or a software developer.
              p I've been programming since I was 15. In Junior hight my friend taught me how to program and I really loved it. For me, programming has been a great tool to express my imagination. Then at high school and college intergrated education instutute back in Japan, I chose programming as my major.
              p Also I really love playing video games. As I studied programming deeply, I realized how great it would be to combine my two passions together. Then I found out Vancouver is not only a beautiful city, but has many great game companies. That's why I moved to Vancouver and started studying game development at ITD Canada
              p When I am not programming, I'm cooking, reading, watching movies,playing games, or working out.

  include include/footer
