extends layout

block append script
  link(rel="stylesheet", href="/stylesheets/forgot_password_v.css")
  script(src="/javascripts/forgot_password_v.js")
block content
  figure
    div(style="background-image: url(/assets/images/forgot.jpg);").banner-wrapper.full-image
    div.banner
    div.container-fluid
      div.login-logo
        img(src="/assets/images/logo-black.png")
      div.body-wrapper
        div.body-content
          div.text-center.text-uppercase.page-title-wrapper
            h4.page-title Request for Password Reset
          div.row
            div#forgot-password-wrapper
              div
                span.forgot-password-error #{(message !== null ? message : '')}
              form(method='POST', action='/forgotPassword')#forgot-password-form
                input(type='text', name='username', placeholder='Username')#username.form-control
                input(type='email', name='email', placeholder='Email')#email.form-control
                input(type='submit', value='Submit').forgot-submit.btn.btn-warning
              div.login-wrapper
                  a(href="/login").login <span class="fa fa-arrow-left"></span> Go back to Login page