extends layout

block append script
  link(rel="stylesheet", href="/stylesheets/login_v.css")
block content
  figure
    div(style="background-image: url(/assets/images/login.jpg);").banner-wrapper.full-image
    div.banner
    div.container-fluid
      div.login-logo
        img(src="/assets/images/logo-black.png")
      div.body-wrapper
        div.body-content
          div.text-center.text-uppercase.page-title-wrapper
            h3.page-title Admin Login
          div.row
            div#login-wrapper
              h4#login-title.text-center Please Sign in
              div
                - if (message !== null) {
                span.login-error #{message}
                - }
                form(method='POST', action='/login')
                  input(type='text', name='username', placeholder='username').form-control
                  input(type='password', name='password', placeholder='password').form-control
                  input(type='submit', value='Login').login-submit.btn.btn-warning
                div.forgot-password-wrapper
                  a(href="/forgotPassword").forgot-password <span class="fa fa-lock"> Forgot Password?