extends layout

block append script
  link(rel="stylesheet", href="/stylesheets/forgot_password_v.css")
block content
  figure
    div(style="background-image: url(/assets/images/login.jpg);").banner-wrapper.full-image
    div.banner
    div.container-fluid
      div.login-logo
        img(src="/assets/images/logo-black.png")
      div.body-wrapper
        div.body-content
          div.text-center.text-uppercase.page-title-wrapper
            h4.page-title Reset Password
          div.row
            div#forgot-password-wrapper
              div
                span.forgot-password-error #{(message !== null ? message : '')}
              form(method='POST', action='/forgotPassword/token/#{token.token}')#forgot-password-form
                input(type='hidden', name="id", value="#{token.admin_id}")#admin-id
                input(type='password', name='password', placeholder='Enter password')#password.form-control
                input(type='password', name='re_password', placeholder='Username')#re-password.form-control
                input(type='submit', value='Submit').forgot-submit.btn.btn-warning

  script.
    $('#forgot-password-form').on('submit', function (event) {
        var password = $('#password').val();
        var rePassword = $('#re-password').val();
        var adminId = parseInt($('#admin-id').val());
        var error = $('span.forgot-password-error');
        if (isNaN(adminId)) {
            event.preventDefault();
            error.text('Invalid User ID...');
            return;
        }
        if (password === '' || rePassword === '') {
            event.preventDefault();
            error.text('You need to input passwords');
            return;
        }
        if (password !== rePassword) {
            event.preventDefault();
            error.text('Password did not match...');
            return;
        }

        error.text('');
    });