block activeVariable
header
  div.container
    div.row
      div.col-xs-6
        img(src="/assets/images/logo.png").logo
      div.col-xs-6
        a(href="#").social-icon: i.fa.fa-facebook-official
        a(href="#").social-icon: i.fa.fa-twitter-square
        a(href="#").social-icon: i.fa.fa-github-square