block barVariables
div.col-md-3.right-bar
  div.well
    h4 Blog Search
    div.input-group
      input(type="text")#search-input.form-control
      span.input-group-btn
        button(type="button")#btn-search.btn.btn-default
          span.fa.fa-search
  - if (show_about) {
    div.well.about-me
      h4.text-center About Me
      img(src="/assets/images/masashi.jpg").img-responsive.img-me
      br
      h4.text-center Masashi Morita
      p I'm 20 years old web developer living in vancouver. I like to watch movies, animes and play games.
      a(href="/about").btn.btn-primary.about-more More Details
  - }
  - if (show_categories !== false) {
    div.panel.panel-info
      div.panel-heading
        h4.no-margin Tags
      div.panel-body.row.category-list
        div.col-md-12.col-sm-12
          ul.list-unstyled#tag-borad
  - }

  - if (show_post !== false) {
    div.panel.panel-info.recent-post
      div.panel-heading
        h4.no-margin Recent Posts
      div.panel-body
        ul.list-unstyled#recent-board

  - }
  script.
    $('#btn-search').on('click', function () {
        var searchText = $('#search-input').val().trim();
        if (searchText === '') return false;
        window.location.href = '/search/' + searchText;
    });