header.bg-wrapper {
    height: 480px;
}

div.title-wrapper {
    padding-top: 100px;
}

main.about-wrapper {
    width: 100%;
    background: #e0e0e0;
    padding-left: 30px;
    padding-right: 30px;
    color: #333;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

div.about {
    display: block;
    width: 90%;
    margin: 0 auto;
}

div.about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -115px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 230px;
}

div.about-description {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

div.about-description p {
    font-size: 105%;
}

@media screen and (max-width: 768px) {
    header.bg-wrapper {
        height: 330px;
    }

    div.title-wrapper {
        padding-top: 50px;
    }

    div.about img {
        margin-top: -90px;
        max-width: 180px;
    }

    div.about {
        width: 100%;
    }
}
