main.about-wrapper {
    width: 100%;
    background: #e0e0e0;
    padding-left: 30px;
    padding-right: 30px;
    color: #333;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

div.about {
    display: block;
    width: 90%;
    margin: 0 auto;
}

div.about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 200px;
}

div.about-description {
   padding: 15px;
}

div.about-description p {
    font-size: 110%;
    font-weight: 500;
    line-height: 1.65em;
}

@media screen and (max-width: 768px) {

    div.title-wrapper {
        padding-top: 20px;
    }

    div.about img {
        margin-top: -70px;
        max-width: 140px;
    }

    div.about {
        width: 100%;
    }
}
