div.contact {
    color: #333 !important;
    background: #fefefe;
    border: 0;
}

div.contact textarea {
    height: 210px;
}

@media screen and (max-width: 720px) {
    div.contact textarea {
        height: 150px;
    }
}

@media screen and (max-width: 496px) {
    div.contact textarea {
        height: 80px;
    }
}