.full-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    width: calc(100vw + 20px);
    height: auto;
    min-height: calc(100vh + 20px);
    background-size: cover;
    background-position: center;
}

div.banner-wrapper {
    position: fixed;
    -webkit-backface-visibility: hidden;
    -webkit-filter: blur(6px);
    filter: blur(6px);
    z-index: -2;
    margin-left: -10px;
    margin-top: -10px;
}

div.banner {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.3);
    z-index: -1;
}

div.login-logo {
    width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12vh;
}

div.login-logo img {
    display: block;
    width: 100%;
}

div.body-wrapper {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    color: #222;
    background: rgba(255, 255, 255, 0.15);
    width: 500px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    font-size: 128.5%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

div.body-content {
    padding: 18px;
}

h4.page-title {
    margin-bottom: 25px;
    font-size: 110%;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 90%;
    display: block;
    margin: 0 auto 15px auto;
    background: rgba(0,0,0,0);
    border-color: #fff;
    color: #222;
}

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder {
    color:#444;
}

input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="email"]::-moz-placeholder {
    color:#444;
    opacity: 1;
}
/* Internet Explorer 10-11 */
input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder {
    color:#444;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border-color: #f0ad4e;
    outline: none;
    border-width: 2px;
}

input[type="submit"] {
    width: 90%;
    display: block;
    margin: 15px auto;
}

span.forgot-password-error {
    color: #eb5055;
    width: 90%;
    display: block;
    margin: 0 auto;
    font-size: 90%;
}

div.login-wrapper {
    display: block;
    width:90%;
    margin-left: 5%;
    margin-top: -5px;
}

a.login {
    text-decoration: none;
    color: #ccc;
    font-weight: 300;
    font-size: 75%;
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
}

a.login:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    visibility: hidden;
    background-color: #fff;
    -webkit-transition: all .5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}

a.login:hover {
    color: #fff;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

a.login:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

@media screen and (max-width: 520px) {
    div.login-logo {
        width: 60%;
        margin-top: 8vh;
    }

    div.body-wrapper {
        width: 90%;
        font-size: 114.3% !important;
    }
}