p.post-info i {
    padding-left: 3px;
}

div.blog-post {
    color: #333;
    background: #eeeeee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 0;
}