div.title-wrapper {
    padding-top: 100px;
}

div.blog-post {
    color: #333;
    background: #fefefe;
    border: 0;
    width: 100%;
}

p.post-info {
    margin-top: 30px;
}

p.post-info i:nth-child(2) {
    padding-left: 12px;
}

@media screen and (max-width: 768px) {
    div.title-wrapper {
        padding-top: 40px;
    }
}