#post-content, .editor-preview, .editor-preview-side {
    padding-top: 30px;
    padding-bottom: 30px;
}

#post-content {
    color: #333;
    background: #fefefe;
}

#post-content h1, #post-content h2, #post-content h3,
.editor-preview h1, .editor-preview h2, .editor-preview h3,
.editor-preview-side h1, .editor-preview-side h2, .editor-preview-side h3{
    border-left: 4px solid #31b0d5;
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    background: #fcfcfc;
    display: inline-block;
    width: 100%;
}

#post-content h1, .editor-preview h1, .editor-preview-side h1 {
    font-size: 212.5%;
}

#post-content h2, .editor-preview h2, .editor-preview-side h2 {
    font-size: 181.25%;
}

#post-content h3, .editor-preview h3, .editor-preview-side h3 {
    font-size: 150%;
}

#post-content h4, .editor-preview h4, .editor-preview-side h4 {
    font-size: 125%;
}

#post-content h5, .editor-preview h5, .editor-preview-side h5 {
    font-size: 106.25%;
}

#post-content h6, .editor-preview h6, .editor-preview-side h6 {
    font-size: 100%;
}

#post-content img,
.editor-preview img,
.editor-preview-side img {
    display: block;
    width: 100%;
    margin: 15px auto !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#post-content p,
.editor-preview p,
.editor-preview-side p {
    font-size: 105%;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

#post-content pre,
.editor-preview pre,
.editor-preview-side pre {
    background: #f6f8fa;
    border: none;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    overflow-x: scroll !important;
    width: 100%;
}

#post-content pre code,
.editor-preview pre code,
.editor-preview-side pre code {
    min-width: 400px;
    white-space: inherit;
}

#post-content ol, #post-content ul,
.editor-preview ol, .editor-preview ul,
.editor-preview-side ol, .editor-preview-side ul{
    padding: 0 0 0 30px !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

#post-content ol li, #post-content ul li,
.editor-preview ol li, .editor-preview ul li,
.editor-preview-side ol li, .editor-preview-side ul li {
    margin-bottom: 10px !important;
}