html, body {
  width: 100%;
}
body {
  display: block;
  color: white;
  font-size: 16px;
  min-height: 100%;
  position: relative;
  background: #eeeeee;
}

h1 {
  font-size: 257.14%;
}

h2 {
  font-size: 214.3%;
}

h3 {
  font-size: 171.4%;
}

h4 {
  font-size: 129%;
}

.no-padding {
  padding: 0;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.no-margin {
  margin: 0;
}

.m-b-3 {
  margin-bottom: 3px;
}

header.bg-wrapper {
  display: block;
  width: 100%;
  height: 560px;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

div.bg-content {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

nav.nav-transparent {
  background: transparent !important;
  border: 0 !important;
  color: white !important;
}

nav.nav-transparent a {
  color: white;
  padding-bottom: 3px;
  font-size: 112%;
}

nav.nav-transparent a:hover {
  color: #ccc;
  border-bottom: 2px solid #31b0d5;
  background: transparent !important;
}

nav.nav-transparent a:focus {
  background: transparent;
}

div.title-wrapper {
  padding-top: 145px;
}

div.title-wrapper h2 {
  margin-bottom: 10px;
}

main.page-content-wrapper {
  width: calc(100% - 50px);
  margin-left: 25px;
  margin-right: 25px;
  margin-top: -80px;
  background: #e0e0e0;
  padding: 10px;
  padding-top: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

div.right-bar {
  color: #333;
}

.img-me {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 60%;
  max-width: 300px;
  margin: 0 auto;
}

a.about-more {
  display: block;
  margin: 0 auto;
  width: 70%;
}

div.right-bar div.well, div.right-bar div.panel {
  background: #eeeeee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 0;
}

div.category-list li {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
}

div.category-list a {
  font-size: 80%;
  padding: 6px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

div.recent-post a {
  color: #d35299;
  outline: none;
}

div.recent-post-contents {
  display: block;
}

div.recent-post-contents img {
  max-width: 100%;
}

div.recent-post-contents h5 {
  font-size: 105%;
}

footer p {
  color: #333;
  padding: 15px;
}

@media screen and (max-width: 991px) {
  div.about-me p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  header.bg-wrapper {
    height: 380px;
  }

  div.title-wrapper {
    padding-top: 70px;
  }

  main.page-content-wrapper {
    margin-top: -50px;
  }

  .img-me {
    max-width: 200px;
  }
}

@media screen and (min-width: 580px) and (max-width: 768px) {
  div.recent-post ul li {
    width: calc(50% - 5px);
    float: left;
  }

  div.recent-post ul li:nth-child(2n) {
    padding-right: 5px;
  }

  div.recent-post ul li:nth-child(2n + 1) {
    padding-left: 5px;
  }
}

@media screen and (max-width: 580px) {
  div.title-description {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}