html, body {
  width: 100%;
}
body {
  display: block;
  color: #333;
  font-size: 16px;
  min-height: 100%;
  position: relative;
  background: #fefefe;
  overflow-x: hidden;
}

h1 {
  font-size: 257.14%;
}

h2 {
  font-size: 214.3%;
}

h3 {
  font-size: 171.4%;
}

h4 {
  font-size: 129%;
}

.no-padding {
  padding: 0;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.no-margin {
  margin: 0;
}

.m-b-3 {
  margin-bottom: 3px;
}

.display-none {
  display: none !important;
}

header.bg-wrapper {
  display: block;
  width: 100%;
  height: 500px;
  top: 0;
  bottom: 0;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

div.bg-content {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

nav.nav-transparent {
  background: transparent !important;
  border: 0 !important;
  color: white !important;
  font-size: 110%;
}

a.masablog-logo {
  display: block;
  height: 50px;
  padding-top: 10px;
}

a.masablog-logo img {
  display: block;
  height: 100%;
  width: auto;
}

nav.nav-transparent a {
  color: white;
  padding-bottom: 3px;
  font-size: 112%;
}

nav.nav-transparent a:hover {
  color: #ccc;
  border-bottom: 2px solid #31b0d5;
  background: transparent !important;
}

nav.nav-transparent li.active a {
  border-bottom: 2px solid #31b0d5;
}

nav.nav-transparent a:focus {
  background: transparent;
}

div.navbar-header.collapsed a {
  border: 0;
  z-index: 5;
}

div.navbar-header.collapsed a:hover span{
  background: #eee;
}

span.icon-bar {
  background: #fff;
  width: 25px !important;
  height: 4px !important;
}

#wrapper {
  margin-top: -50px;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 200px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a i.fa {
  padding-right: 5px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav li.active a {
  background: rgba(0, 150, 250, 0.3) !important;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
  background: #000;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

div.title-wrapper {
  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
}

div.title-wrapper h2 {
  font-size: 220%;
  margin-bottom: 10px;
}

main.page-content-wrapper {
  width: calc(100% - 50px);
  margin-left: 25px;
  margin-right: 25px;
  margin-top: -80px;
  background: #eee;
  padding: 10px;
  padding-top: 20px;
}

div.right-bar {
  color: #333;
}

.img-me {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 60%;
  max-width: 300px;
  margin: 0 auto;
}

div.about-me h4 {
  margin-top: 0;
}

a.about-more {
  display: block;
  margin: 0 auto;
  width: 70%;
}

div.right-bar div.well, div.right-bar div.panel {
  background: #fefefe;
  border: 0;
}

div.category-list li {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  float: left;
}

div.category-list a {
  font-size: 80%;
  padding: 6px;
}

div.recent-post div.panel-body {
  padding-top: 0;
}

#recent-board li {
  padding-bottom: 5px;
  padding-top: 15px;
}

#recent-board li:last-child {
  border-bottom: none;
}

#recent-board h5 {
  margin-bottom: 0;
  margin-top: 5px;
}

div.recent-post a {
  color: #d35299;
  outline: none;
}

div.recent-post-contents {
  display: block;
}

div.recent-post-contents img {
  max-width: 100%;
}

div.recent-post-contents h5 {
  font-size: 105%;
}

footer p {
  color: #333;
  padding: 15px;
}

div#error-dialog {
  display:none;
  width: 300px;
  position: fixed;
  top: 15%;
  left: calc(50% - 150px);
  text-align: center;
  z-index: 5;
  opacity: 0.7;
}

span.search-keyword {
  color: red;
}

div.not-found-wrapper {
  width: 100%;
  height: 60vh;
  padding: 15px 0;
}

div.not-found {
  background-image: url('/assets/images/notfound.png');
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
}

@media screen and (max-width: 991px) {
  header.bg-wrapper {
    height: 460px;
  }

  div.title-wrapper {
    padding-top: 80px;
  }

  .img-me {
    max-width: 200px;
  }

  div.about-me p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  div.show-half {
    width: calc(50% - 8px);
    float: left;
  }

  div.show-half.about-me {
    margin-right: 15px;
  }

  #recent-board li {
    display: none;
  }

  #recent-board li:nth-child(1), #recent-board li:nth-child(2) {
    display: block;
  }
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
    display: none;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

  a.masablog-logo {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 15px;
  }

  a#menu-toggle {
    position: fixed;
    background: rgba(0,0,0,0.4);
    right: 0;
    padding:5px;
    margin-top: 11px;
  }

  a#menu-toggle:hover {
    background: rgba(0,0,0,1) !important;
  }

  header.bg-wrapper {
    height: 330px;
  }

  div.title-wrapper {
    padding-top: 30px;
  }

  main.page-content-wrapper {
    margin-top: -50px;
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    padding-top: 15px;
  }

  .img-me {
    max-width: 200px;
  }

  div.not-found-wrapper {
    height: 35vh;
  }
}

@media screen and (max-width: 720px) {
  body {
    font-size: 15px;
  }
}

@media screen and (max-width: 580px) {
  div.title-description {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  div.show-half {
    width: 100%;
  }

  div.show-half.about-me {
    margin-right: 0;
  }

  #recent-board li {
    display: block;
  }
}

@media screen and (max-width: 496px) {
  body {
    font-size: 13px;
  }
}